In [1]:
# Import necessary
import pandas as pd
from pathlib import Path

In [2]:
# Set Path to data
housing_path = Path('Raw_Data/Housing_Data.csv')
rent_path = Path('Raw_Data/Fair_Market_Rent_Data.csv')

In [3]:
# Read in CSV files
housing_data = pd.read_csv(housing_path)
rent_data = pd.read_csv(rent_path)

In [4]:
# Check housing_data
housing_data.head()

,State,County Name,Metropolitan/FMR Area Name,1-Unit,2-unit,3-unit,4-unit,Unadjusted Median Value,Years Worth of Sales Data*,Number of Sales for Unadjusted Median**,...,4-unit.1,Unadjusted Median Value.1,Years Worth of Sales Data*.1,Number of Sales for Unadjusted Median**.1,Geographic Area Used.1,Metropolitan/FMR Area Name.1,Unnamed: 20,state2,metro_code,fipscounty
0,AL,Jefferson County,"Birmingham-Hoover, AL HUD Metro FMR Area","$199,000","$254,000","$308,000","$381,000","$209,000",1,"4,476",...,"$467,000","$256,000",1,0,Non-Metro US,1,METRO13820M13820,1073,NaN,NaN
1,AL,St. Clair County,"Birmingham-Hoover, AL HUD Metro FMR Area","$195,000","$250,000","$302,000","$375,000","$205,400",1,727,...,"$467,000","$256,000",1,0,Non-Metro US,1,METRO13820M13820,1115,NaN,NaN
2,AL,Shelby County,"Birmingham-Hoover, AL HUD Metro FMR Area","$202,000","$258,000","$313,000","$388,000","$212,550",1,"1,500",...,"$467,000","$256,000",1,0,Non-Metro US,1,METRO13820M13820,1117,NaN,NaN
3,AL,Chilton County,"Chilton County, AL HUD Metro FMR Area","$150,000","$193,000","$233,000","$289,000","$158,350",1,"4,130",...,"$467,000","$256,000",1,0,Non-Metro US,1,METRO13820N01021,1021,NaN,NaN
4,AL,Walker County,"Walker County, AL HUD Metro FMR Area","$150,000","$193,000","$233,000","$289,000","$158,350",1,"4,130",...,"$467,000","$256,000",1,0,Non-Metro US,1,METRO13820N01127,1127,NaN,NaN

In [5]:
# Rename columns names for rent_data
rent_columns = ['id', 'studio rent', '1 bdrm rent', '2 bdrm rent', '3 bdrm rent', '4 bdrm rent', 'state id', 'metro id', 'area name', 'county code', 'cousub', 'county name', 'county town name', 'population', 'state', 'metro']
rent_data.columns = rent_columns
rent_data.head()

,id,studio rent,1 bdrm rent,2 bdrm rent,3 bdrm rent,4 bdrm rent,state id,metro id,area name,county code,cousub,county name,county town name,population,state,metro
0,100199999,640,766,908,1148,1520,1,METRO33860M33860,"Montgomery, AL MSA",1,99999,Autauga County,Autauga County,55035,AL,1
1,100399999,718,723,922,1249,1584,1,METRO19300M19300,"Daphne-Fairhope-Foley, AL MSA",3,99999,Baldwin County,Baldwin County,203360,AL,1
2,100599999,488,492,648,806,907,1,NCNTY01005N01005,"Barbour County, AL",5,99999,Barbour County,Barbour County,26200,AL,0
3,100799999,817,871,1002,1303,1409,1,METRO13820M13820,"Birmingham-Hoover, AL HUD Metro FMR Area",7,99999,Bibb County,Bibb County,22580,AL,1
4,100999999,817,871,1002,1303,1409,1,METRO13820M13820,"Birmingham-Hoover, AL HUD Metro FMR Area",9,99999,Blount County,Blount County,57665,AL,1

In [6]:
# Drop unneccessary columns from housing_data
housing_data = housing_data.drop(columns=['Unadjusted Median Value', 'Years Worth of Sales Data*', 'Number of Sales for Unadjusted Median**', 'Years Worth of Sales Data*.1', 'Number of Sales for Unadjusted Median**.1', 'Geographic Area Used.1', 'Metropolitan/FMR Area Name.1'])
housing_data.head()

,State,County Name,Metropolitan/FMR Area Name,1-Unit,2-unit,3-unit,4-unit,Geographic Area Used,1-Unit.1,2-unit.1,3-unit.1,4-unit.1,Unadjusted Median Value.1,Unnamed: 20,state2,metro_code,fipscounty
0,AL,Jefferson County,"Birmingham-Hoover, AL HUD Metro FMR Area","$199,000","$254,000","$308,000","$381,000",County,"$243,000","$311,000","$377,000","$467,000","$256,000",METRO13820M13820,1073,NaN,NaN
1,AL,St. Clair County,"Birmingham-Hoover, AL HUD Metro FMR Area","$195,000","$250,000","$302,000","$375,000",County,"$243,000","$311,000","$377,000","$467,000","$256,000",METRO13820M13820,1115,NaN,NaN
2,AL,Shelby County,"Birmingham-Hoover, AL HUD Metro FMR Area","$202,000","$258,000","$313,000","$388,000",County,"$243,000","$311,000","$377,000","$467,000","$256,000",METRO13820M13820,1117,NaN,NaN
3,AL,Chilton County,"Chilton County, AL HUD Metro FMR Area","$150,000","$193,000","$233,000","$289,000",Non-Metro State,"$243,000","$311,000","$377,000","$467,000","$256,000",METRO13820N01021,1021,NaN,NaN
4,AL,Walker County,"Walker County, AL HUD Metro FMR Area","$150,000","$193,000","$233,000","$289,000",Non-Metro State,"$243,000","$311,000","$377,000","$467,000","$256,000",METRO13820N01127,1127,NaN,NaN

In [7]:
# Drop unneccessary columns from housing_data
housing_data = housing_data.drop(columns=['Geographic Area Used', 'Unadjusted Median Value.1', 'state2', 'fipscounty', 'metro_code'])
housing_data.head()

,State,County Name,Metropolitan/FMR Area Name,1-Unit,2-unit,3-unit,4-unit,1-Unit.1,2-unit.1,3-unit.1,4-unit.1,Unnamed: 20
0,AL,Jefferson County,"Birmingham-Hoover, AL HUD Metro FMR Area","$199,000","$254,000","$308,000","$381,000","$243,000","$311,000","$377,000","$467,000",METRO13820M13820
1,AL,St. Clair County,"Birmingham-Hoover, AL HUD Metro FMR Area","$195,000","$250,000","$302,000","$375,000","$243,000","$311,000","$377,000","$467,000",METRO13820M13820
2,AL,Shelby County,"Birmingham-Hoover, AL HUD Metro FMR Area","$202,000","$258,000","$313,000","$388,000","$243,000","$311,000","$377,000","$467,000",METRO13820M13820
3,AL,Chilton County,"Chilton County, AL HUD Metro FMR Area","$150,000","$193,000","$233,000","$289,000","$243,000","$311,000","$377,000","$467,000",METRO13820N01021
4,AL,Walker County,"Walker County, AL HUD Metro FMR Area","$150,000","$193,000","$233,000","$289,000","$243,000","$311,000","$377,000","$467,000",METRO13820N01127

In [8]:
# Rename Unnamed:20 column
housing_data = housing_data.rename(columns={'Unnamed: 20': 'metro id'})
housing_data.head()

,State,County Name,Metropolitan/FMR Area Name,1-Unit,2-unit,3-unit,4-unit,1-Unit.1,2-unit.1,3-unit.1,4-unit.1,metro id
0,AL,Jefferson County,"Birmingham-Hoover, AL HUD Metro FMR Area","$199,000","$254,000","$308,000","$381,000","$243,000","$311,000","$377,000","$467,000",METRO13820M13820
1,AL,St. Clair County,"Birmingham-Hoover, AL HUD Metro FMR Area","$195,000","$250,000","$302,000","$375,000","$243,000","$311,000","$377,000","$467,000",METRO13820M13820
2,AL,Shelby County,"Birmingham-Hoover, AL HUD Metro FMR Area","$202,000","$258,000","$313,000","$388,000","$243,000","$311,000","$377,000","$467,000",METRO13820M13820
3,AL,Chilton County,"Chilton County, AL HUD Metro FMR Area","$150,000","$193,000","$233,000","$289,000","$243,000","$311,000","$377,000","$467,000",METRO13820N01021
4,AL,Walker County,"Walker County, AL HUD Metro FMR Area","$150,000","$193,000","$233,000","$289,000","$243,000","$311,000","$377,000","$467,000",METRO13820N01127

In [9]:
# Drop unneccessary columns for rent_data
rent_data = rent_data.drop(columns=['id', 'state id', 'county code', 'cousub', 'county town name', 'population', 'metro'])
rent_data.head()

,studio rent,1 bdrm rent,2 bdrm rent,3 bdrm rent,4 bdrm rent,metro id,area name,county name,state
0,640,766,908,1148,1520,METRO33860M33860,"Montgomery, AL MSA",Autauga County,AL
1,718,723,922,1249,1584,METRO19300M19300,"Daphne-Fairhope-Foley, AL MSA",Baldwin County,AL
2,488,492,648,806,907,NCNTY01005N01005,"Barbour County, AL",Barbour County,AL
3,817,871,1002,1303,1409,METRO13820M13820,"Birmingham-Hoover, AL HUD Metro FMR Area",Bibb County,AL
4,817,871,1002,1303,1409,METRO13820M13820,"Birmingham-Hoover, AL HUD Metro FMR Area",Blount County,AL

In [10]:
# Check for null values in rent_data
rent_data.isnull().sum()

studio rent    0
1 bdrm rent    0
2 bdrm rent    0
3 bdrm rent    0
4 bdrm rent    0
metro id       0
area name      0
county name    0
state          0
dtype: int64

In [11]:
# Check for null values in housing_data
housing_data.isnull().sum()

State                         0
County Name                   0
Metropolitan/FMR Area Name    0
1-Unit                        0
2-unit                        0
3-unit                        0
4-unit                        0
1-Unit.1                      0
2-unit.1                      0
3-unit.1                      0
4-unit.1                      0
metro id                      0
dtype: int64

In [12]:
# Set metro code as index for both tables
housing_data = housing_data.set_index('metro id')
rent_data = rent_data.set_index('metro id')

In [13]:
# Join housing_data and rent_data tables
housing_cost_df = pd.merge(housing_data, rent_data, on='metro id', how='inner')
housing_cost_df.head()

,State,County Name,Metropolitan/FMR Area Name,1-Unit,2-unit,3-unit,4-unit,1-Unit.1,2-unit.1,3-unit.1,4-unit.1,studio rent,1 bdrm rent,2 bdrm rent,3 bdrm rent,4 bdrm rent,area name,county name,state
metro id,,,,,,,,,,,,,,,,,,,
METRO13820M13820,AL,Jefferson County,"Birmingham-Hoover, AL HUD Metro FMR Area","$199,000","$254,000","$308,000","$381,000","$243,000","$311,000","$377,000","$467,000",817,871,1002,1303,1409,"Birmingham-Hoover, AL HUD Metro FMR Area",Bibb County,AL
METRO13820M13820,AL,Jefferson County,"Birmingham-Hoover, AL HUD Metro FMR Area","$199,000","$254,000","$308,000","$381,000","$243,000","$311,000","$377,000","$467,000",817,871,1002,1303,1409,"Birmingham-Hoover, AL HUD Metro FMR Area",Blount County,AL
METRO13820M13820,AL,Jefferson County,"Birmingham-Hoover, AL HUD Metro FMR Area","$199,000","$254,000","$308,000","$381,000","$243,000","$311,000","$377,000","$467,000",817,871,1002,1303,1409,"Birmingham-Hoover, AL HUD Metro FMR Area",Jefferson County,AL
METRO13820M13820,AL,Jefferson County,"Birmingham-Hoover, AL HUD Metro FMR Area","$199,000","$254,000","$308,000","$381,000","$243,000","$311,000","$377,000","$467,000",817,871,1002,1303,1409,"Birmingham-Hoover, AL HUD Metro FMR Area",St. Clair County,AL
METRO13820M13820,AL,Jefferson County,"Birmingham-Hoover, AL HUD Metro FMR Area","$199,000","$254,000","$308,000","$381,000","$243,000","$311,000","$377,000","$467,000",817,871,1002,1303,1409,"Birmingham-Hoover, AL HUD Metro FMR Area",Shelby County,AL

In [14]:
# Drop repeat columns
housing_cost_df = housing_cost_df.drop(columns=['area name', 'county name', 'state'])
housing_cost_df.tail()

,State,County Name,Metropolitan/FMR Area Name,1-Unit,2-unit,3-unit,4-unit,1-Unit.1,2-unit.1,3-unit.1,4-unit.1,studio rent,1 bdrm rent,2 bdrm rent,3 bdrm rent,4 bdrm rent
metro id,,,,,,,,,,,,,,,,
NCNTY72923N72923,PR,Vieques Municipio,Puerto Rico HUD Nonmetro Area,"$121,000","$155,000","$188,000","$233,000","$243,000","$311,000","$377,000","$467,000",361,369,421,561,623
NCNTY72923N72923,PR,Vieques Municipio,Puerto Rico HUD Nonmetro Area,"$121,000","$155,000","$188,000","$233,000","$243,000","$311,000","$377,000","$467,000",361,369,421,561,623
NCNTY78010N78010,VI,St. Croix,"St. Croix Island, VI","$219,000","$280,000","$339,000","$420,000","$243,000","$311,000","$377,000","$467,000",835,852,1040,1294,1410
NCNTY78020N78020,VI,St. John,"St. John Island, VI","$444,000","$569,000","$689,000","$853,000","$444,000","$569,000","$689,000","$853,000",1109,1314,1633,2031,2214
NCNTY78030N78030,VI,St. Thomas,"St. Thomas Island, VI","$332,000","$425,000","$515,000","$638,000","$332,000","$425,000","$515,000","$638,000",797,962,1204,1498,1633

In [15]:
filtered_housing_df = housing_cost_df[(housing_cost_df['Metropolitan/FMR Area Name'].str.contains('New York'))
                                      |(housing_cost_df.isin(['Los Angeles', 'Chicago']))
                                     ]
filtered_housing_df

ValueError: cannot reindex from a duplicate axis