In [1]:
# Import necessary
import pandas as pd
from pathlib import Path

In [2]:
# Set Path to data
housing_path = Path('Raw_Data/Housing_Data.csv')
rent_path = Path('Raw_Data/Fair_Market_Rent_Data.csv')

In [3]:
# Read in CSV files
housing_data = pd.read_csv(housing_path)
rent_data = pd.read_csv(rent_path)

In [4]:
# Check housing_data
housing_data.head()

,State,County Name,Metropolitan/FMR Area Name,1-Unit,2-unit,3-unit,4-unit,Unadjusted Median Value,Years Worth of Sales Data*,Number of Sales for Unadjusted Median**,...,4-unit.1,Unadjusted Median Value.1,Years Worth of Sales Data*.1,Number of Sales for Unadjusted Median**.1,Geographic Area Used.1,Metropolitan/FMR Area Name.1,Unnamed: 20,state2,metro_code,fipscounty
0,AL,Jefferson County,"Birmingham-Hoover, AL HUD Metro FMR Area","$199,000","$254,000","$308,000","$381,000","$209,000",1,"4,476",...,"$467,000","$256,000",1,0,Non-Metro US,1,METRO13820M13820,1073,NaN,NaN
1,AL,St. Clair County,"Birmingham-Hoover, AL HUD Metro FMR Area","$195,000","$250,000","$302,000","$375,000","$205,400",1,727,...,"$467,000","$256,000",1,0,Non-Metro US,1,METRO13820M13820,1115,NaN,NaN
2,AL,Shelby County,"Birmingham-Hoover, AL HUD Metro FMR Area","$202,000","$258,000","$313,000","$388,000","$212,550",1,"1,500",...,"$467,000","$256,000",1,0,Non-Metro US,1,METRO13820M13820,1117,NaN,NaN
3,AL,Chilton County,"Chilton County, AL HUD Metro FMR Area","$150,000","$193,000","$233,000","$289,000","$158,350",1,"4,130",...,"$467,000","$256,000",1,0,Non-Metro US,1,METRO13820N01021,1021,NaN,NaN
4,AL,Walker County,"Walker County, AL HUD Metro FMR Area","$150,000","$193,000","$233,000","$289,000","$158,350",1,"4,130",...,"$467,000","$256,000",1,0,Non-Metro US,1,METRO13820N01127,1127,NaN,NaN

In [5]:
# Rename columns names for rent_data
rent_columns = ['id', 'studio rent', '1 bdrm rent', '2 bdrm rent', '3 bdrm rent', '4 bdrm rent', 'state id', 'metro id', 'area name', 'county code', 'cousub', 'county name', 'county town name', 'population', 'state', 'metro']
rent_data.columns = rent_columns
rent_data.head()

,id,studio rent,1 bdrm rent,2 bdrm rent,3 bdrm rent,4 bdrm rent,state id,metro id,area name,county code,cousub,county name,county town name,population,state,metro
0,100199999,640,766,908,1148,1520,1,METRO33860M33860,"Montgomery, AL MSA",1,99999,Autauga County,Autauga County,55035,AL,1
1,100399999,718,723,922,1249,1584,1,METRO19300M19300,"Daphne-Fairhope-Foley, AL MSA",3,99999,Baldwin County,Baldwin County,203360,AL,1
2,100599999,488,492,648,806,907,1,NCNTY01005N01005,"Barbour County, AL",5,99999,Barbour County,Barbour County,26200,AL,0
3,100799999,817,871,1002,1303,1409,1,METRO13820M13820,"Birmingham-Hoover, AL HUD Metro FMR Area",7,99999,Bibb County,Bibb County,22580,AL,1
4,100999999,817,871,1002,1303,1409,1,METRO13820M13820,"Birmingham-Hoover, AL HUD Metro FMR Area",9,99999,Blount County,Blount County,57665,AL,1

In [6]:
# Drop unneccessary columns from housing_data
housing_data = housing_data.drop(columns=['Unadjusted Median Value', 'Years Worth of Sales Data*', 'Number of Sales for Unadjusted Median**', 'Years Worth of Sales Data*.1', 'Number of Sales for Unadjusted Median**.1', 'Geographic Area Used.1', 'Metropolitan/FMR Area Name.1'])
housing_data.head()

,State,County Name,Metropolitan/FMR Area Name,1-Unit,2-unit,3-unit,4-unit,Geographic Area Used,1-Unit.1,2-unit.1,3-unit.1,4-unit.1,Unadjusted Median Value.1,Unnamed: 20,state2,metro_code,fipscounty
0,AL,Jefferson County,"Birmingham-Hoover, AL HUD Metro FMR Area","$199,000","$254,000","$308,000","$381,000",County,"$243,000","$311,000","$377,000","$467,000","$256,000",METRO13820M13820,1073,NaN,NaN
1,AL,St. Clair County,"Birmingham-Hoover, AL HUD Metro FMR Area","$195,000","$250,000","$302,000","$375,000",County,"$243,000","$311,000","$377,000","$467,000","$256,000",METRO13820M13820,1115,NaN,NaN
2,AL,Shelby County,"Birmingham-Hoover, AL HUD Metro FMR Area","$202,000","$258,000","$313,000","$388,000",County,"$243,000","$311,000","$377,000","$467,000","$256,000",METRO13820M13820,1117,NaN,NaN
3,AL,Chilton County,"Chilton County, AL HUD Metro FMR Area","$150,000","$193,000","$233,000","$289,000",Non-Metro State,"$243,000","$311,000","$377,000","$467,000","$256,000",METRO13820N01021,1021,NaN,NaN
4,AL,Walker County,"Walker County, AL HUD Metro FMR Area","$150,000","$193,000","$233,000","$289,000",Non-Metro State,"$243,000","$311,000","$377,000","$467,000","$256,000",METRO13820N01127,1127,NaN,NaN

In [7]:
# Drop unneccessary columns from housing_data
housing_data = housing_data.drop(columns=['Geographic Area Used', 'Unadjusted Median Value.1', 'state2', 'fipscounty', 'metro_code'])
housing_data.head()

,State,County Name,Metropolitan/FMR Area Name,1-Unit,2-unit,3-unit,4-unit,1-Unit.1,2-unit.1,3-unit.1,4-unit.1,Unnamed: 20
0,AL,Jefferson County,"Birmingham-Hoover, AL HUD Metro FMR Area","$199,000","$254,000","$308,000","$381,000","$243,000","$311,000","$377,000","$467,000",METRO13820M13820
1,AL,St. Clair County,"Birmingham-Hoover, AL HUD Metro FMR Area","$195,000","$250,000","$302,000","$375,000","$243,000","$311,000","$377,000","$467,000",METRO13820M13820
2,AL,Shelby County,"Birmingham-Hoover, AL HUD Metro FMR Area","$202,000","$258,000","$313,000","$388,000","$243,000","$311,000","$377,000","$467,000",METRO13820M13820
3,AL,Chilton County,"Chilton County, AL HUD Metro FMR Area","$150,000","$193,000","$233,000","$289,000","$243,000","$311,000","$377,000","$467,000",METRO13820N01021
4,AL,Walker County,"Walker County, AL HUD Metro FMR Area","$150,000","$193,000","$233,000","$289,000","$243,000","$311,000","$377,000","$467,000",METRO13820N01127

In [8]:
# Rename Unnamed:20 column
housing_data = housing_data.rename(columns={'Unnamed: 20': 'metro id'})
housing_data.head()

,State,County Name,Metropolitan/FMR Area Name,1-Unit,2-unit,3-unit,4-unit,1-Unit.1,2-unit.1,3-unit.1,4-unit.1,metro id
0,AL,Jefferson County,"Birmingham-Hoover, AL HUD Metro FMR Area","$199,000","$254,000","$308,000","$381,000","$243,000","$311,000","$377,000","$467,000",METRO13820M13820
1,AL,St. Clair County,"Birmingham-Hoover, AL HUD Metro FMR Area","$195,000","$250,000","$302,000","$375,000","$243,000","$311,000","$377,000","$467,000",METRO13820M13820
2,AL,Shelby County,"Birmingham-Hoover, AL HUD Metro FMR Area","$202,000","$258,000","$313,000","$388,000","$243,000","$311,000","$377,000","$467,000",METRO13820M13820
3,AL,Chilton County,"Chilton County, AL HUD Metro FMR Area","$150,000","$193,000","$233,000","$289,000","$243,000","$311,000","$377,000","$467,000",METRO13820N01021
4,AL,Walker County,"Walker County, AL HUD Metro FMR Area","$150,000","$193,000","$233,000","$289,000","$243,000","$311,000","$377,000","$467,000",METRO13820N01127

In [9]:
# Drop unneccessary columns for rent_data
rent_data = rent_data.drop(columns=['id', 'state id', 'county code', 'cousub', 'county town name', 'population', 'metro'])
rent_data.head()

,studio rent,1 bdrm rent,2 bdrm rent,3 bdrm rent,4 bdrm rent,metro id,area name,county name,state
0,640,766,908,1148,1520,METRO33860M33860,"Montgomery, AL MSA",Autauga County,AL
1,718,723,922,1249,1584,METRO19300M19300,"Daphne-Fairhope-Foley, AL MSA",Baldwin County,AL
2,488,492,648,806,907,NCNTY01005N01005,"Barbour County, AL",Barbour County,AL
3,817,871,1002,1303,1409,METRO13820M13820,"Birmingham-Hoover, AL HUD Metro FMR Area",Bibb County,AL
4,817,871,1002,1303,1409,METRO13820M13820,"Birmingham-Hoover, AL HUD Metro FMR Area",Blount County,AL

In [10]:
# Check for null values in rent_data
rent_data.isnull().sum()

studio rent    0
1 bdrm rent    0
2 bdrm rent    0
3 bdrm rent    0
4 bdrm rent    0
metro id       0
area name      0
county name    0
state          0
dtype: int64

In [11]:
# Check for null values in housing_data
housing_data.isnull().sum()

State                         0
County Name                   0
Metropolitan/FMR Area Name    0
1-Unit                        0
2-unit                        0
3-unit                        0
4-unit                        0
1-Unit.1                      0
2-unit.1                      0
3-unit.1                      0
4-unit.1                      0
metro id                      0
dtype: int64

In [12]:
# Set metro code as index for both tables
housing_data = housing_data.set_index('metro id')
rent_data = rent_data.set_index('metro id')

In [13]:
# Join housing_data and rent_data tables
housing_cost_df = pd.merge(housing_data, rent_data, on='metro id', how='inner')
housing_cost_df.head()

,State,County Name,Metropolitan/FMR Area Name,1-Unit,2-unit,3-unit,4-unit,1-Unit.1,2-unit.1,3-unit.1,4-unit.1,studio rent,1 bdrm rent,2 bdrm rent,3 bdrm rent,4 bdrm rent,area name,county name,state
metro id,,,,,,,,,,,,,,,,,,,
METRO13820M13820,AL,Jefferson County,"Birmingham-Hoover, AL HUD Metro FMR Area","$199,000","$254,000","$308,000","$381,000","$243,000","$311,000","$377,000","$467,000",817,871,1002,1303,1409,"Birmingham-Hoover, AL HUD Metro FMR Area",Bibb County,AL
METRO13820M13820,AL,Jefferson County,"Birmingham-Hoover, AL HUD Metro FMR Area","$199,000","$254,000","$308,000","$381,000","$243,000","$311,000","$377,000","$467,000",817,871,1002,1303,1409,"Birmingham-Hoover, AL HUD Metro FMR Area",Blount County,AL
METRO13820M13820,AL,Jefferson County,"Birmingham-Hoover, AL HUD Metro FMR Area","$199,000","$254,000","$308,000","$381,000","$243,000","$311,000","$377,000","$467,000",817,871,1002,1303,1409,"Birmingham-Hoover, AL HUD Metro FMR Area",Jefferson County,AL
METRO13820M13820,AL,Jefferson County,"Birmingham-Hoover, AL HUD Metro FMR Area","$199,000","$254,000","$308,000","$381,000","$243,000","$311,000","$377,000","$467,000",817,871,1002,1303,1409,"Birmingham-Hoover, AL HUD Metro FMR Area",St. Clair County,AL
METRO13820M13820,AL,Jefferson County,"Birmingham-Hoover, AL HUD Metro FMR Area","$199,000","$254,000","$308,000","$381,000","$243,000","$311,000","$377,000","$467,000",817,871,1002,1303,1409,"Birmingham-Hoover, AL HUD Metro FMR Area",Shelby County,AL

In [14]:
# Drop repeat columns
housing_cost_df = housing_cost_df.drop(columns=['area name', 'county name', 'state'])
housing_cost_df.tail()

,State,County Name,Metropolitan/FMR Area Name,1-Unit,2-unit,3-unit,4-unit,1-Unit.1,2-unit.1,3-unit.1,4-unit.1,studio rent,1 bdrm rent,2 bdrm rent,3 bdrm rent,4 bdrm rent
metro id,,,,,,,,,,,,,,,,
NCNTY72923N72923,PR,Vieques Municipio,Puerto Rico HUD Nonmetro Area,"$121,000","$155,000","$188,000","$233,000","$243,000","$311,000","$377,000","$467,000",361,369,421,561,623
NCNTY72923N72923,PR,Vieques Municipio,Puerto Rico HUD Nonmetro Area,"$121,000","$155,000","$188,000","$233,000","$243,000","$311,000","$377,000","$467,000",361,369,421,561,623
NCNTY78010N78010,VI,St. Croix,"St. Croix Island, VI","$219,000","$280,000","$339,000","$420,000","$243,000","$311,000","$377,000","$467,000",835,852,1040,1294,1410
NCNTY78020N78020,VI,St. John,"St. John Island, VI","$444,000","$569,000","$689,000","$853,000","$444,000","$569,000","$689,000","$853,000",1109,1314,1633,2031,2214
NCNTY78030N78030,VI,St. Thomas,"St. Thomas Island, VI","$332,000","$425,000","$515,000","$638,000","$332,000","$425,000","$515,000","$638,000",797,962,1204,1498,1633

In [22]:
# Create a list of the city names to search for in the Metropolitan/FMR Area Name column of the housing_cost_df
search_for = ['New York',
              'Los Angeles',
              'Chicago',
              'Houston',
              'Phoenix',
              'Philadelphia',
              'San Antonio',
              'San Diego',
              'Dallas',
              'San Jose',
              'Austin',
              'Jacksonville',
              'Fort Worth',
              'Columbus',
              'Indianapolis',
              'Charlotte',
              'San Francisco',
              'Seattle',
              'Denver',
              'Washington D.C.',
              'Nashville',
              'Oklahoma City',
              'El Paso',
              'Boston',
              'Portland'
]

# Search for names of cities in housing_cost_df 
filtered_housing_df = housing_cost_df[(housing_cost_df['Metropolitan/FMR Area Name'].str.contains('|'.join(search_for)))]

# Check new DataFrame
filtered_housing_df

,State,County Name,Metropolitan/FMR Area Name,1-Unit,2-unit,3-unit,4-unit,1-Unit.1,2-unit.1,3-unit.1,4-unit.1,studio rent,1 bdrm rent,2 bdrm rent,3 bdrm rent,4 bdrm rent
metro id,,,,,,,,,,,,,,,,
METRO17980M17980,AL,Russell County,"Columbus, GA-AL MSA","$150,000","$193,000","$233,000","$289,000","$243,000","$311,000","$377,000","$467,000",644,717,832,1118,1441
METRO17980M17980,AL,Russell County,"Columbus, GA-AL MSA","$150,000","$193,000","$233,000","$289,000","$243,000","$311,000","$377,000","$467,000",644,717,832,1118,1441
METRO17980M17980,AL,Russell County,"Columbus, GA-AL MSA","$150,000","$193,000","$233,000","$289,000","$243,000","$311,000","$377,000","$467,000",644,717,832,1118,1441
METRO17980M17980,AL,Russell County,"Columbus, GA-AL MSA","$150,000","$193,000","$233,000","$289,000","$243,000","$311,000","$377,000","$467,000",644,717,832,1118,1441
METRO17980M17980,AL,Russell County,"Columbus, GA-AL MSA","$150,000","$193,000","$233,000","$289,000","$243,000","$311,000","$377,000","$467,000",644,717,832,1118,1441
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NCNTY51037N51037,VA,Charlotte County,"Charlotte County, VA","$170,000","$218,000","$263,000","$326,000","$243,000","$311,000","$377,000","$467,000",472,556,701,913,951
METRO42660MM7600,WA,King County,"Seattle-Bellevue, WA HUD Metro FMR Area","$489,000","$626,000","$758,000","$939,000","$522,000","$669,000","$810,000","$1,003,000",1523,1599,1906,2694,3172
METRO42660MM7600,WA,King County,"Seattle-Bellevue, WA HUD Metro FMR Area","$489,000","$626,000","$758,000","$939,000","$522,000","$669,000","$810,000","$1,003,000",1523,1599,1906,2694,3172
METRO42660MM7600,WA,Snohomish County,"Seattle-Bellevue, WA HUD Metro FMR Area","$466,000","$597,000","$723,000","$896,000","$466,000","$597,000","$723,000","$896,000",1523,1599,1906,2694,3172
METRO42660MM7600,WA,Snohomish County,"Seattle-Bellevue, WA HUD Metro FMR Area","$466,000","$597,000","$723,000","$896,000","$466,000","$597,000","$723,000","$896,000",1523,1599,1906,2694,3172

In [23]:
# Check for duplicate rows
filtered_housing_df.duplicated()

metro id
METRO17980M17980    False
METRO17980M17980     True
METRO17980M17980     True
METRO17980M17980     True
METRO17980M17980     True
                    ...
NCNTY51037N51037    False
METRO42660MM7600    False
METRO42660MM7600     True
METRO42660MM7600    False
METRO42660MM7600     True
Length: 1619, dtype: bool

In [28]:
city_housing_df = filtered_housing_df.drop_duplicates().copy()
city_housing_df

,State,County Name,Metropolitan/FMR Area Name,1-Unit,2-unit,3-unit,4-unit,1-Unit.1,2-unit.1,3-unit.1,4-unit.1,studio rent,1 bdrm rent,2 bdrm rent,3 bdrm rent,4 bdrm rent
metro id,,,,,,,,,,,,,,,,
METRO17980M17980,AL,Russell County,"Columbus, GA-AL MSA","$150,000","$193,000","$233,000","$289,000","$243,000","$311,000","$377,000","$467,000",644,717,832,1118,1441
METRO17980M17980,GA,Chattahoochee County,"Columbus, GA-AL MSA","$170,000","$218,000","$263,000","$326,000","$243,000","$311,000","$377,000","$467,000",644,717,832,1118,1441
METRO17980M17980,GA,Harris County,"Columbus, GA-AL MSA","$222,000","$285,000","$345,000","$427,000","$253,000","$324,000","$392,000","$486,000",644,717,832,1118,1441
METRO17980M17980,GA,Marion County,"Columbus, GA-AL MSA","$170,000","$218,000","$263,000","$326,000","$243,000","$311,000","$377,000","$467,000",644,717,832,1118,1441
METRO17980M17980,GA,Muscogee County,"Columbus, GA-AL MSA","$170,000","$218,000","$263,000","$326,000","$243,000","$311,000","$377,000","$467,000",644,717,832,1118,1441
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
METRO16820M16820,VA,Nelson County,"Charlottesville, VA HUD Metro FMR Area","$285,000","$365,000","$442,000","$547,000","$285,000","$365,000","$442,000","$547,000",949,1077,1266,1575,1965
METRO16820M16820,VA,Charlottesville city,"Charlottesville, VA HUD Metro FMR Area","$311,000","$398,000","$482,000","$597,000","$316,000","$405,000","$490,000","$607,000",949,1077,1266,1575,1965
NCNTY51037N51037,VA,Charlotte County,"Charlotte County, VA","$170,000","$218,000","$263,000","$326,000","$243,000","$311,000","$377,000","$467,000",472,556,701,913,951
METRO42660MM7600,WA,King County,"Seattle-Bellevue, WA HUD Metro FMR Area","$489,000","$626,000","$758,000","$939,000","$522,000","$669,000","$810,000","$1,003,000",1523,1599,1906,2694,3172
METRO42660MM7600,WA,Snohomish County,"Seattle-Bellevue, WA HUD Metro FMR Area","$466,000","$597,000","$723,000","$896,000","$466,000","$597,000","$723,000","$896,000",1523,1599,1906,2694,3172

In [32]:
# Create list for state abbreviations for 25 most populous cities
st_search_for = ['NY',
                 'CA',
                 'TX',
                 'AZ',
                 'PA',
                 'FL',
                 'OH',
                 'IN',
                 'IL',
                 'NC',
                 'WA',
                 'CO',
                 'TN',
                 'OK',
                 'MA',
                 'OR',
                 'DC'
]

# Filter data for states that contain the appropriate cities (This is because some city names are located in multiple states)
clean_housing_df = city_housing_df[(city_housing_df['State'].str.contains('|'.join(st_search_for)))]
clean_housing_df

,State,County Name,Metropolitan/FMR Area Name,1-Unit,2-unit,3-unit,4-unit,1-Unit.1,2-unit.1,3-unit.1,4-unit.1,studio rent,1 bdrm rent,2 bdrm rent,3 bdrm rent,4 bdrm rent
metro id,,,,,,,,,,,,,,,,
METRO38060M38060,AZ,Maricopa County,"Phoenix-Mesa-Scottsdale, AZ MSA","$258,000","$330,000","$400,000","$495,000","$258,000","$330,000","$400,000","$495,000",933,1032,1251,1765,2010
METRO38060M38060,AZ,Pinal County,"Phoenix-Mesa-Scottsdale, AZ MSA","$252,000","$322,000","$390,000","$483,000","$252,000","$322,000","$390,000","$483,000",933,1032,1251,1765,2010
METRO31080MM4480,CA,Los Angeles County,"Los Angeles-Long Beach-Glendale, CA HUD Metro ...","$510,000","$652,000","$790,000","$979,000","$510,000","$652,000","$790,000","$979,000",1369,1605,2058,2735,2982
METRO41740M41740,CA,San Diego County,"San Diego-Carlsbad, CA MSA","$518,000","$663,000","$803,000","$994,000","$518,000","$663,000","$803,000","$994,000",1478,1642,2124,2987,3677
METRO41860MM7360,CA,Marin County,"San Francisco, CA HUD Metro FMR Area","$664,000","$850,000","$1,029,000","$1,275,000","$664,000","$850,000","$1,029,000","$1,275,000",2350,2923,3553,4567,4970
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
METRO41700M41700,TX,Guadalupe County,"San Antonio-New Braunfels, TX HUD Metro FMR Area","$214,000","$274,000","$331,000","$410,000","$243,000","$311,000","$377,000","$467,000",761,912,1114,1446,1793
METRO41700M41700,TX,Wilson County,"San Antonio-New Braunfels, TX HUD Metro FMR Area","$261,000","$334,000","$405,000","$502,000","$305,000","$390,000","$473,000","$586,000",761,912,1114,1446,1793
NCNTY48225N48225,TX,Houston County,"Houston County, TX","$162,000","$207,000","$250,000","$310,000","$243,000","$311,000","$377,000","$467,000",538,557,734,913,995
METRO42660MM7600,WA,King County,"Seattle-Bellevue, WA HUD Metro FMR Area","$489,000","$626,000","$758,000","$939,000","$522,000","$669,000","$810,000","$1,003,000",1523,1599,1906,2694,3172
METRO42660MM7600,WA,Snohomish County,"Seattle-Bellevue, WA HUD Metro FMR Area","$466,000","$597,000","$723,000","$896,000","$466,000","$597,000","$723,000","$896,000",1523,1599,1906,2694,3172

In [34]:
# For simplicity, drop 1-Unit.1, 2-unit.1, 3-unit.1 4-unit.1
clean_housing_df = clean_housing_df.drop(columns=['1-Unit.1', '2-unit.1', '3-unit.1', '4-unit.1'])
clean_housing_df

,State,County Name,Metropolitan/FMR Area Name,1-Unit,2-unit,3-unit,4-unit,studio rent,1 bdrm rent,2 bdrm rent,3 bdrm rent,4 bdrm rent
metro id,,,,,,,,,,,,
METRO38060M38060,AZ,Maricopa County,"Phoenix-Mesa-Scottsdale, AZ MSA","$258,000","$330,000","$400,000","$495,000",933,1032,1251,1765,2010
METRO38060M38060,AZ,Pinal County,"Phoenix-Mesa-Scottsdale, AZ MSA","$252,000","$322,000","$390,000","$483,000",933,1032,1251,1765,2010
METRO31080MM4480,CA,Los Angeles County,"Los Angeles-Long Beach-Glendale, CA HUD Metro ...","$510,000","$652,000","$790,000","$979,000",1369,1605,2058,2735,2982
METRO41740M41740,CA,San Diego County,"San Diego-Carlsbad, CA MSA","$518,000","$663,000","$803,000","$994,000",1478,1642,2124,2987,3677
METRO41860MM7360,CA,Marin County,"San Francisco, CA HUD Metro FMR Area","$664,000","$850,000","$1,029,000","$1,275,000",2350,2923,3553,4567,4970
...,...,...,...,...,...,...,...,...,...,...,...,...
METRO41700M41700,TX,Guadalupe County,"San Antonio-New Braunfels, TX HUD Metro FMR Area","$214,000","$274,000","$331,000","$410,000",761,912,1114,1446,1793
METRO41700M41700,TX,Wilson County,"San Antonio-New Braunfels, TX HUD Metro FMR Area","$261,000","$334,000","$405,000","$502,000",761,912,1114,1446,1793
NCNTY48225N48225,TX,Houston County,"Houston County, TX","$162,000","$207,000","$250,000","$310,000",538,557,734,913,995
METRO42660MM7600,WA,King County,"Seattle-Bellevue, WA HUD Metro FMR Area","$489,000","$626,000","$758,000","$939,000",1523,1599,1906,2694,3172
METRO42660MM7600,WA,Snohomish County,"Seattle-Bellevue, WA HUD Metro FMR Area","$466,000","$597,000","$723,000","$896,000",1523,1599,1906,2694,3172

In [41]:
# There are still rows not pertaining to appropriate cities due to naming similarities. Dataset is much smaller and can filter out unneccessary cities by index
clean_housing_data = clean_housing_df.reset_index()
clean_housing_data = clean_housing_data.set_index('Metropolitan/FMR Area Name')
clean_housing_data = clean_housing_data.drop(['Columbus, IN MSA', 
                                              'Jacksonville, NC MSA', 
                                              'Columbus County, NC', 
                                              'Houston County, TN', 
                                              'Austin County, TX HUD Metro FMR Area', 
                                              'Houston County, TX'])
clean_housing_data

,metro id,State,County Name,1-Unit,2-unit,3-unit,4-unit,studio rent,1 bdrm rent,2 bdrm rent,3 bdrm rent,4 bdrm rent
Metropolitan/FMR Area Name,,,,,,,,,,,,
"Phoenix-Mesa-Scottsdale, AZ MSA",METRO38060M38060,AZ,Maricopa County,"$258,000","$330,000","$400,000","$495,000",933,1032,1251,1765,2010
"Phoenix-Mesa-Scottsdale, AZ MSA",METRO38060M38060,AZ,Pinal County,"$252,000","$322,000","$390,000","$483,000",933,1032,1251,1765,2010
"Los Angeles-Long Beach-Glendale, CA HUD Metro FMR Area",METRO31080MM4480,CA,Los Angeles County,"$510,000","$652,000","$790,000","$979,000",1369,1605,2058,2735,2982
"San Diego-Carlsbad, CA MSA",METRO41740M41740,CA,San Diego County,"$518,000","$663,000","$803,000","$994,000",1478,1642,2124,2987,3677
"San Francisco, CA HUD Metro FMR Area",METRO41860MM7360,CA,Marin County,"$664,000","$850,000","$1,029,000","$1,275,000",2350,2923,3553,4567,4970
...,...,...,...,...,...,...,...,...,...,...,...,...
"San Antonio-New Braunfels, TX HUD Metro FMR Area",METRO41700M41700,TX,Comal County,"$247,000","$316,000","$383,000","$474,000",761,912,1114,1446,1793
"San Antonio-New Braunfels, TX HUD Metro FMR Area",METRO41700M41700,TX,Guadalupe County,"$214,000","$274,000","$331,000","$410,000",761,912,1114,1446,1793
"San Antonio-New Braunfels, TX HUD Metro FMR Area",METRO41700M41700,TX,Wilson County,"$261,000","$334,000","$405,000","$502,000",761,912,1114,1446,1793
"Seattle-Bellevue, WA HUD Metro FMR Area",METRO42660MM7600,WA,King County,"$489,000","$626,000","$758,000","$939,000",1523,1599,1906,2694,3172
"Seattle-Bellevue, WA HUD Metro FMR Area",METRO42660MM7600,WA,Snohomish County,"$466,000","$597,000","$723,000","$896,000",1523,1599,1906,2694,3172

In [42]:
# Save table as CSV file in Clean_Data folder
clean_housing_data.to_csv('Clean_Data/clean_housing_data.csv', index=False)